// Colors
$select-text-color: black !default;
$select-bg-color: white !default;
$select-selected-bg-color: #efefef !default;
$select-item-bg-color: white !default;
$select-border-color: #c7c5c1 !default;
$select-arrow-color: #060606 !default;

// Size
$select-font-size: 1rem !default;
$select-padding-top-bottom: 12px !default;
$select-padding-left-right: 12px !default;

// Features
$select-border-radius: 0 !default;

/*======================================================================
Selectric
======================================================================*/




.selectric-hover .selectric {
	border-color: #CCC;
}

.selectric-hover .selectric .button {
	color: #888;
}

.selectric-open {
	z-index: 9999;
}

.selectric-open .selectric {
	border-color: #CCC;
	background: $select-selected-bg-color;
}

.selectric-open .selectric-items {
//display: block;
}

.selectric-disabled {
	filter: alpha(opacity = 50);
	opacity: 0.5;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectric-hide-select {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;
}

.selectric-hide-select select {
	position: absolute;
	left: -100%;
	display: none;
}

.selectric-input {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}

.selectric-temp-show {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

.selectric-items {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #F9F9F9;
	border: 1px solid $select-border-color;
	z-index: 1;
	border-top: none;
}

.selectric-items .selectricScroll {
	height: 100%;
	overflow: auto;
}

.selectricAbove .selectric-items {
	top: auto;
	bottom: 100%;
}

.selectric-items ul, .selectric-items li {
	list-style: none;
	padding: 0;
	margin: 0;
	color: $select-text-color;
	font-size: 1rem;
	line-height: 20px;
	min-height: 20px;
}

.selectric-items li {
	display: block;
	padding: $select-padding-top-bottom $select-padding-left-right;
	border-top: 1px solid $select-border-color;
	border-bottom: none;
	color: $select-text-color;
	cursor: pointer;
	background: $select-item-bg-color;
	&:first-child {
		border-top: none;
	}
}

.selectric-items li.selected {
	background: #EFEFEF;
	color: #444;
	border-top-color: #E0E0E0;
}

.selectric-items li:hover {
	background: #F0F0F0;
	color: #444;
}

.selectric-items li.disabled {
	background: #F5F5F5;
	color: #BBB;
	border-top-color: #FAFAFA;
	cursor: default;
}

.selectric-wrapper {
	position: relative;
	cursor: pointer;
}

.selectric-responsive {
	width: 100%;
}

.selectric {
	position: relative;
	border-radius: $select-border-radius;
	border: 1px solid $select-border-color;
	background: $select-bg-color;
}

.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 30px 0 0;
	padding: $select-padding-top-bottom $select-padding-left-right;
	font-size: $select-font-size;
	line-height: 18px;
	color: $select-text-color;
	min-height: 18px;
}

.selectric .button {
	color: transparent;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	height: 100%;
	padding: 0;
	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		border-style: solid;
		border-width: 6px 6px 0 6px;
		border-color: $select-arrow-color transparent transparent transparent;
	}
}

.selectric-hover .selectric {
	border-color: #CCC;
}

.selectric-open {
	z-index: 9999;
}

.selectric-open .selectric {
	border-color: #CCC;
	background: $select-selected-bg-color;
}

.selectric-open .selectric-items {
	display: block;
}

.selectric-disabled {
	opacity: 0.5;
	cursor: default;
	user-select: none;
}

.selectric-hide-select {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;
}

.selectric-hide-select select {
	position: absolute;
	left: -100%;
	display: none;
}

.selectric-input {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}

.selectric-temp-show {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

/* Items box */
.selectric-items {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #F8F8F8;
	z-index: -1;
}

.selectric-items .selectric-scroll {
	height: 100%;
	overflow: auto;
}

.selectric-above .selectric-items {
	top: auto;
	bottom: 100%;
}

.selectric-items li {
	display: block;
	padding: $select-padding-top-bottom $select-padding-left-right;
	border-top: 1px solid $select-border-color;
	color: $select-text-color;
	background: $select-item-bg-color;
	cursor: pointer;
}

.selectric-items li.selected {
	background: #EFEFEF;
	color: #444;
}

.selectric-items li:hover {
	background: #F0F0F0;
	color: #444;
}

.selectric-items .disabled {
	opacity: 0.5;
	cursor: default !important;
	background: none !important;
	color: #666 !important;
	user-select: none;
}

.selectric-items .selectric-group {
	border-top: 1px solid $select-border-color;
}

.selectric-items .selectric-group .selectric-group-label {
	font-weight: bold;
	padding-left: 10px;
	cursor: default;
	user-select: none;
	background: none;
	color: #444;
}

.selectric-items .selectric-group.disabled li {
	opacity: 1;
}

.selectric-items .selectric-group li {
	padding-left: 25px;
}
