@import "compass";

// Colors
$select-text-color: black !default;
$select-bg-color: white !default;
$select-selected-bg-color: #efefef !default;
$select-item-bg-color: white !default;
$select-border-color: #c7c5c1 !default;
$select-arrow-color: #060606 !default;

// Size
$select-font-size: 0.813rem !default;
$select-padding-top-bottom: 9px !default;
$select-padding-left-right: 9px !default;

// Features
$select-border-radius: 0 !default;

/*======================================================================
	Selectric
======================================================================*/

.selectricWrapper {
	position: relative;
	margin: 0;
	cursor: pointer;
}

.selectricResponsive {
	width: 100%;
}

.selectric {
	border: 1px solid $select-border-color;
	background: $select-bg-color;
	position: relative;
	border-radius: $select-border-radius;
}

.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 30px 0 0;
	padding: $select-padding-top-bottom $select-padding-left-right;
	font-size: $select-font-size;
	line-height: 18px;
	color: $select-text-color;
	min-height: 18px;
}

.selectric .button {
	color: $select-bg-color;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	padding: 7px 0 0 0;
	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		right: 15px;
		top: 14px;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: $select-arrow-color transparent transparent transparent;
	}
	&:after {
		content: "";
		position: absolute;
		right: 15px;
		width: 0;
		height: 0;
		top: 11px;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: $select-bg-color transparent transparent transparent;
		.selectricOpen & {
			border-color: $select-selected-bg-color transparent transparent transparent;
		}
	}
}

.selectricHover .selectric {
	border-color: #CCC;
}

.selectricHover .selectric .button {
	color: #888;
}

.selectricOpen {
	z-index: 9999;
}

.selectricOpen .selectric {
	border-color: #CCC;
	background: $select-selected-bg-color;
}

.selectricOpen .selectricItems {
	//display: block;
}

.selectricDisabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectricHideSelect {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;
}

.selectricHideSelect select {
	position: absolute;
	left: -100%;
	display: none;
}

.selectricInput {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}

.selectricTempShow {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

.selectricItems {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #F9F9F9;
	border: 1px solid $select-border-color;
	z-index: -1;
	border-top: none;
}

.selectricItems .selectricScroll {
	height: 100%;
	overflow: auto;
}

.selectricAbove .selectricItems {
	top: auto;
	bottom: 100%;
}

.selectricItems ul, .selectricItems li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	min-height: 20px;

}
.selectricItems li {
	display: block;
	padding: $select-padding-top-bottom $select-padding-left-right;
	border-top: 1px solid #FFF;
	border-top: 1px solid $select-border-color;
	color: $select-text-color;
	cursor: pointer;
	background: $select-item-bg-color;
	&:first-child {
		border-top: none;
	}
}

.selectricItems li.selected {
	background: #EFEFEF;
	color: #444;
	border-top-color: #E0E0E0;
}

.selectricItems li:hover {
	background: #F0F0F0;
	color: #444;
}

.selectricItems li.disabled {
	background: #F5F5F5;
	color: #BBB;
	border-top-color: #FAFAFA;
	cursor: default;
}
